<!doctype html>
<html lang="en" th:lang="${language}?: 'en'" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{ index.html :: common_header(~{::title},~{},~{}) }">
    <title th:text="${status.value()} + ': ' + ${status.reasonPhrase}">500 Internal Server Error</title>
</head>
<body>
<header th:replace="~{index.html :: header}"></header>
<main class="container">
    <h1 th:text="'Error ' + ${status.value()} + ': ' + ${status.reasonPhrase}">Error 500: Internal Server Error</h1>
    <p th:text="${message}">There was a general error while trying to answer your request</p>
    <p>Back to <a href="index.html" th:href="@{/}">the main page</a></p>

    <h2 th:if="${trace}">Stack trace</h2>
    <code th:if="${trace}" th:text="${trace}">jakarta.validation.ConstraintViolationException: showTask.arg0: Invalid
        task key 'PRO'
        org.springframework.validation.beanvalidation.MethodValidationInterceptor.invoke(MethodValidationInterceptor.java:170)
        org.springframework.aop.framework.ReflectiveMethodInvocation.proceed(ReflectiveMethodInvocation.java:184)
        org.springframework.aop.framework.CglibAopProxy$DynamicAdvisedInterceptor.intercept(CglibAopProxy.java:727)
        site.gutschi.humble.spring.tasks.integration.web.TaskController$$SpringCGLIB$$0.showTask()
        java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
        java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
        java.base/java.lang.reflect.Method.invoke(Method.java:568)
        org.springframework.web.method.support.InvocableHandlerMethod.doInvoke(InvocableHandlerMethod.java:257)
        org.springframework.web.method.support.InvocableHandlerMethod.invokeForRequest(InvocableHandlerMethod.java:190)
        org.springframework.web.servlet.mvc.method.annotation.ServletInvocableHandlerMethod.invokeAndHandle(ServletInvocableHandlerMethod.java:118)
        org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter.invokeHandlerMethod(RequestMappingHandlerAdapter.java:986)
        org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter.handleInternal(RequestMappingHandlerAdapter.java:891)
        org.springframework.web.servlet.mvc.method.AbstractHandlerMethodAdapter.handle(AbstractHandlerMethodAdapter.java:87)
        org.springframework.web.servlet.DispatcherServlet.doDispatch(DispatcherServlet.java:1088)
        org.springframework.web.servlet.DispatcherServlet.doService(DispatcherServlet.java:978)
        org.springframework.web.servlet.FrameworkServlet.processRequest(FrameworkServlet.java:1014)
    </code>
</main>
<footer th:replace="~{index.html :: footer}"></footer>
</body>
</html>
