.side-column {
    width: 25%;
    min-width: 20rem;
    flex: 0 0 auto;
}

@media (max-width: 767px) {
    .side-column {
        min-width: 100%
    }
}

label {
    font-size: small;
}

textarea {
    margin-bottom: 0.5rem;
}

textarea#comment {
    height: 10rem;
}

textarea#description {
    height: 20rem;
}

h5 {
    margin-top: 1.5rem;
}

nav.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}